*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.box-container {
  box-shadow: 0px 0px 4px 0px #000;
  border-radius: 20px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-inline: auto;
  margin-top: 20px;
}
.box-container:last-child{
  margin-bottom: 20px;
}
.box--image {
  max-width: 100px;
}

.box-info {
  width: -webkit-fill-available;
}

.box--image img {
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: space-between;
  border-bottom: 1px solid #00000029;
}

.button {
  padding: 8px 30px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.button-group {
  display: grid;
  grid: 1fr / 1fr 1fr;
  gap: 10px;
}

.button-primary {
  background: #2cc92c;
  color: #fff;
}

.button-primary:hover {
  background:#22a222;
}
.button-secondary:hover {
  background: #c3c3c9;
}
.box-info p {
  line-height: 3;
}